body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-gray;
    padding: 3rem;
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 2rem;
    
        animation-name: moveInleft; 
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.1rem;
    
        animation-name: moveInright;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        
       }
}

.heading-secondary{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(to left,$color1,$color2);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    letter-spacing: .2rem;
    
    &:hover{
        transform: skewY(4deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black,.4); 
    }
}

.heading-tertiary{
    font-size: $defaul-fontsize;
    text-transform: uppercase;
    font-weight: 700;
}

.paragraph{
    font-size: $defaul-fontsize;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}